body {
    color: black;
    background: yellow;
    margin: 0px;
 
}

header {
    border-bottom: solid 2px rgb(58, 157, 152);
    padding: 20px;
    font-size: 32px;
    color: rgb(254, 171, 40);
}
